body{
  background-color: hsl(218, 23%, 16%);
  font-family: 'Manrope', sans-serif;
}

.card{
  width: 500px;
  height:300px;
  background-color: hsl(217, 19%, 24%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 20px 20px;
  box-sizing: 2px 2px 2px 2px black;
}

.card .card-wrapper{
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

.card .header-card{
  color:hsl(150, 100%, 66%);
  font-size: 12px;
  text-align: center;
  letter-spacing: 5px;
}

.card .content-card{
  font-size: 25px;
  color:  hsl(193, 38%, 86%);
}

.divider-desktop{
  width: 500px;
  margin:60px auto;
  text-align: center;
}

.dice{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: hsl(150, 100%, 66%);
  position: absolute;
  bottom:-50px;
  left:50%;
  transform:translate(-50%, -50%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .2s;
}

.dice:hover{
  box-shadow: 0px 0px 25px 2px hsl(150, 100%, 66%);
}

.dice img{
  width: 40%;
  height: 40%;
}

@media (max-width: 720px){
  .card{
    width: 80%;
    height: 280px;
  }
  .card .card-wrapper{
    width: 100%;
  }
  .divider-desktop{
    width: 100%;
    margin:0px auto;
  }
  .divider-desktop img{
    width: 100%;
  }
  .dice{
    width: 60px;
    height: 60px;
    bottom: -60px;
  }
}
